<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>list</title>
    <link rel="stylesheet" href="/main.css" />
  </head>
  <!-- 서버 사이드 랜더링 -->
  <body class="grey-bg">
    <!-- 다른 ejs 파일에 있던 html을 복사해온다 -->
    <%- include('nav.ejs') %>
    
    <input name = "title" class="search"/>
    <button class="searchBtn" type="submit">검색</button>

    <script>

      document.querySelector('.searchBtn').addEventListener
      ('click', function() {
        let search = document.querySelector('.search').value;
        location.href = '/search?val=' + search;
      })

    </script>
    
    <div class="white-bg">
      <!-- for문을 통해 글 갯수만큼 게시물을 작성 -->
      <% for (let i =0; i < posts.length; i++) { %>
      <div class="list-box">
        <!-- 데이터 바인딩 -->
        <h4>
          <a href="/detail/<%= posts[i]._id %>"><%= posts[i].title %></a>
          <a title="게시글 수정" href="/edit/<%= posts[i]._id %>">📝</a>
          <% if (JSON.stringify(posts[i].user) === JSON.stringify(login)) { %>
            <span class="delete" data-id="<%= posts[i]._id %>">🗑️</span>
          <% } %>
        </h4>
        <p><%= posts[i].content %></p>
      </div>
      <% } %>
    </div>
    <div class="page-nation">
      <% for (let i = 1; i<= Math.ceil(pages.length/5); i++) { %>
      <div>
        <a class="page-button" href="/list/<%= i %>"><%= i %></a>
      </div>
      <% } %>
    </div>

    <script>
      const deleteButton = document.querySelectorAll(".delete");
      for (let i = 0; i < deleteButton.length; i++) {
        deleteButton[i].addEventListener("click", function (e) {
          fetch("/delete?docid=" + e.target.dataset.id, {
            method: "DELETE",
          })
            .then((r)=> r.json())
            .then((data) => {
              // e.target : 지금 클릭한 것
              if(data.owner > 0) {
                e.target.parentElement.parentElement.style.display = "none";
              }
            })
            .catch((error) => {
              console.log("오류");
            });
        });
      }
    </script>
  </body>
</html>
